<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nahrání CSV souboru</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Nahrajte CSV soubor</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
        <input type="file" name="file" accept=".csv" class="form-control mb-2"/>
        <button type="submit" class="btn btn-primary">Nahrát</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>